.vscode

*.o
*.temp
*.out
*.txt
vgcore.*

lib/
build/
obj/

core.so
editor.so
engine.so
assets.so

src/core/include/engine
src/editor/include/core
src/editor/include/engine
src/editor/include/imgui
src/engine/include/core
